@use "mixins" as *;
@use "variables" as *;

@font-face {
    font-family: "Avenir";
    src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
    src: url("../../assets/font/AvenirNextLTPro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
    src: url("../../assets/font/AvenirNextLTProDemi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
    src: url("../../assets/font/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Avenir", sans-serif;
}

h1 {
    @include mobile-header;
    @include tablet {
        @include page-header;
    }
}

h2 {
    @include mobile-section-header;
    color: $primary1;
    @include tablet {
        @include section-header;
    }
}

h3 {
    @include mobile-subheader;
    color: $primary1;
    @include tablet {
        @include subheader;
    }
}

p {
    @include mobile-body;
    @include tablet {
        @include body-copy;
    }
}

footer p {
    @include mobile-footer-copy;
    color: $primary3;
    @include tablet {
        @include footer-copy;
    }
}


.nav {
    background-color: $primary1;
    
    &-bar {
        color: $primary3;
        //sets display to flex, params: (justify-content, align-items, flex-direction) - null sets default behavior
        @include flex-box(center, center, column);

        &__img {
            margin-top: $mobile-padding-btw-components;
            width: 120px;

            @include tablet {
                margin: 0 $padding-between-components;
            }
        }

        &__list {
            @include flex-box(space-around, flex-end, row);
            list-style-type: none;
            width: 100%;

            &-item {
                text-align: center;
                padding-top: $mobile-padding-btw-components;
                padding-bottom: $mobile-padding-btw-components;
                width: 50%;

                @include tablet {
                    padding: 32px 0;
                }

                &--active {
                    border-bottom: .25rem solid $primary3;
                }
            }

            @include tablet {
                align-items: center;
            }
        }

        @include tablet {
            flex-direction: row;
            width: 50%;
        }
    }

    .hero {
        background-image: url("../../assets/images/hero-bio.jpg");
        background-position: center;
        background-size: cover;
        height: 35vh;
        color: $primary3;

        &__title {
            width: 100%;
            height: 100%;
            padding-left: $mobile-padding-btw-components;
            background-color: #32323250;
            @include flex-box(null, center);

            @include tablet {
                padding-left: $padding-between-components;
            }
        }

        @include tablet {
            height: 80vh;
            
        }
    }
}

.footer {
    background-color: $primary1;
    @include flex-box(null, null, column);

    .card {
        @include flex-box(null, null, column);

        &__title {
            color: $primary3;
            @include title-spacing($mobile-padding-bf-headlines, $mobile-padding-btw-components, $mobile-padding-af-headlines);

            @include tablet {
                padding-right: 8px;
            }
        }

        &__collection {
            padding: 0 $mobile-padding-btw-components $mobile-padding-btw-components;

            &-img {
                height: 1.5rem;
                margin-right: 1.5rem;
            }

            &-group {
                padding-bottom: $mobile-padding-btw-components;
            }

            &--img {
                @include tablet {
                    display: flex;
                    align-items: center;
                }
            }

            &--contact {
                @include tablet {
                    margin-right: 16px;
                }
                
            }
        }

        &--social {
            @include tablet {
                order: -2;
                width: 430px;
                align-items: baseline;
            }
        }

        @include tablet {
            flex-direction: row;
            margin: 0 18px;
        }
    }

    &__img {
        margin-top: $mobile-padding-bf-headlines;
        padding: 0 $mobile-padding-btw-components $mobile-padding-btw-components;
        width: 7.5rem;
        
        @include tablet {
            order: -1;
            margin-right: 20px;
        }
    }

    &__legal {
        padding: 0 $mobile-padding-btw-components $mobile-padding-btw-components;

        @include tablet {
            width: 100%;
           margin: 0 20px;
        }
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}