@use "mixins" as *;

@font-face {
    font-family: "Avenir";
    src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
    src: url("../../assets/font/AvenirNextLTPro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
    src: url("../../assets/font/AvenirNextLTProDemi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
    src: url("../../assets/font/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Avenir", sans-serif;
}

h1 {
    @include mobile-header;
    
    @include tablet {
        @include page-header;
    }
}

h2 {
    @include mobile-section-header;

    @include tablet {
        @include section-header;
    }
}

h3 {
    @include mobile-subheader;

    @include tablet {
        @include subheader;
    }
}

body p {
    @include mobile-body;

    @include tablet {
        @include body-copy;
    }
}

footer p {
    @include mobile-footer-copy;

    @include tablet {
        @include footer-copy;
    }
}