//Font-sizes 
$mobile-header-font: 1.5rem; // 24px
$mobile-subheader-font: .875rem; // 14px
$mobile-body-font: .8125rem; // 13px
$mobile-label-font: .625rem; // 10px

$header-font: 3.75rem; // 60px
$section-header-font: 2.25rem;// 36pxx
$subheader-font: 1.5rem; // 24px
$body-font: .875rem; // 14px
$label-font: .75rem; // 12px

// Colors
$primary1: #323232;
$primary2: #AFAFAF;
$primary3: #FFFFFF;

$seconday1: #000000;
$seconday2: #E1E1E1;
$seconday3: #FAFAFA;

// Padding
$mobile-padding-bf-headlines: 1.5rem; // padding before headlines
$mobile-padding-af-headlines: 1rem; // padding after headlines
$mobile-padding-btw-components: 1rem; // padding between components

$padding-before-headlines: 3rem;
$padding-after-headlines: 2.25rem;
$padding-between-components: 2.25rem;

// Breakpoints

$mobile: 767;
$tablet: 768px;
$desktop: 1280px;

