@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/font/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../../assets/font/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/font/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 700;
    padding: 3rem 2.25rem 2.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 3rem 2.25rem 2.25rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 3rem 2.25rem 2.25rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.paragraph {
  padding: 0 1rem 1rem;
}
footer p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

a, a:visited {
  text-decoration: none;
}

.nav {
  background-color: #323232;
}
.nav-bar {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-bar__img {
  margin-top: 1rem;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .nav-bar__img {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__img {
    margin-left: 112px;
  }
}
.nav-bar__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
}
.nav-bar__list-item {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
}
.nav-bar__list-item-link {
  color: #FFFFFF;
}
.nav-bar__list-item:hover {
  border-bottom: 0.25rem solid #FFFFFF;
}
.nav-bar__list-item--active {
  border-bottom: 0.25rem solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav-bar__list-item {
    padding: 32px 0;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__list {
    align-items: baseline;
    width: initial;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
}
.nav .hero {
  background-image: url("../../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 20vh;
  color: #FFFFFF;
}
.nav .hero__title {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(50, 50, 50, 0.3137254902);
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .nav .hero__title {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav .hero__title {
    padding-left: 112px;
  }
}
@media screen and (min-width: 768px) {
  .nav .hero {
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .nav .hero {
    height: 80vh;
  }
}

.footer {
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer .card {
  display: flex;
  flex-direction: column;
}
.footer .card__title {
  color: #FFFFFF;
  width: auto;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer .card__title {
    flex: 0 0 auto;
    padding: 3rem 2.25rem 2.25rem;
    padding: 3rem 10.85px 2.25rem 0px;
    padding-right: 10.85px;
  }
}
.footer .card__collection {
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer .card__collection {
    padding: 0 2.25rem 2.25rem;
  }
}
.footer .card__collection-img {
  height: 1.5rem;
  margin-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer .card__collection--first {
    padding-left: 0;
  }
}
.footer .card__collection--middle {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .footer .card__collection--middle {
    padding: 0 16px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .card__collection--middle {
    padding: 0 36px;
  }
}
@media screen and (min-width: 768px) {
  .footer .card__collection--end {
    padding-right: 0;
  }
}
.footer .card__collection-group {
  padding-bottom: 1rem;
}
.footer .card__collection-group--who {
  font-weight: bold;
}
.footer .card__collection-group-item--head {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .footer .card__collection--img {
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .card__collection--img {
    padding-left: 36px;
  }
}
.footer .card__logo {
  width: 150px;
  display: none;
}
@media screen and (min-width: 768px) {
  .footer .card__logo {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer .card--social {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .card--social {
    padding-left: 112px;
    padding-right: 112px;
  }
}
@media screen and (min-width: 768px) {
  .footer .card--contacts {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .card--contacts {
    padding-left: 112px;
    padding-right: 112px;
  }
}
@media screen and (min-width: 768px) {
  .footer .card {
    flex-direction: row;
  }
}
.footer__img {
  margin-top: 1.5rem;
  padding: 0 1rem 1rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__img {
    display: none;
  }
}
.footer__legal {
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__legal {
    padding: 0 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__legal {
    padding: 0 112px;
  }
}

.main {
  background-color: #FFFFFF;
}
.main .intro__title {
  color: #323232;
}
@media screen and (min-width: 1280px) {
  .main .intro__title {
    padding: 48px 112px 36px;
  }
}
.main .intro__img {
  width: 100%;
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main .intro__img {
    padding: 0 96px 2.25rem;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .main .intro__img {
    padding: 0 200px 2.25rem;
  }
}
.main .intro__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .main .intro__quote {
    padding: 0 96px 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .main .intro__quote {
    padding: 0 200px 1rem;
  }
}
@media screen and (min-width: 768px) {
  .main .intro__quote--large {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #323232;
  }
}
.main .intro__quote--last {
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .main .article {
    margin: 0 96px;
  }
}
@media screen and (min-width: 1280px) {
  .main .article {
    margin: 0 200px;
  }
}
@media screen and (min-width: 768px) {
  .main .article__title {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .main .article__content {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .main .article__content-text--left {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .main .article__content-text--right {
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .main .article__content-text {
    padding-bottom: 2.25rem;
  }
}
.main .gallery {
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .main .gallery__title {
    padding: 3rem 2.25rem 20px;
  }
}
@media screen and (min-width: 1280px) {
  .main .gallery__title {
    padding: 48px 112px 36px;
  }
}
.main .gallery__collection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main .gallery__collection {
    display: flex;
    flex-direction: row;
    padding: 0 36px 16px;
  }
}
@media screen and (min-width: 1280px) {
  .main .gallery__collection {
    padding: 0 112px 36px;
  }
}
.main .gallery__collection-img {
  width: 100%;
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main .gallery__collection-img {
    width: 33.3%;
    padding: 8px;
  }
}
@media screen and (min-width: 768px) {
  .main .gallery__collection-img--top {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .main .gallery__collection-img--left {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .main .gallery__collection-img--right {
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .main .gallery__collection-img--bottom {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .main .comment-area__title {
    padding: 48px 112px 36px;
  }
}
.main .comment-area .comments {
  display: flex;
  padding: 0 1rem;
}
.main .comment-area .comments__img {
  width: 40px;
  height: 40px;
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 1rem 1rem 0 0;
  flex-shrink: 0;
}
.main .comment-area .comments__form {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.main .comment-area .comments__form-label {
  display: flex;
  flex-direction: column;
}
.main .comment-area .comments__form-label-text {
  height: 40px;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.main .comment-area .comments__form-label-text::-moz-placeholder {
  padding-left: 1rem;
  color: black;
}
.main .comment-area .comments__form-label-text::placeholder {
  padding-left: 1rem;
  color: black;
}
.main .comment-area .comments__form-label-textarea {
  height: 80px;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
  border-radius: #000;
}
.main .comment-area .comments__form-label-textarea::-moz-placeholder {
  padding-top: 10px;
  padding-left: 1rem;
  color: #000;
}
.main .comment-area .comments__form-label-textarea::placeholder {
  padding-top: 10px;
  padding-left: 1rem;
  color: #000;
}
.main .comment-area .comments__form-button {
  border: none;
  border-radius: 5px;
  height: 40px;
  color: #FFFFFF;
  background-color: #323232;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .main .comment-area .comments__form-button {
    width: 150px;
    align-self: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .main .comment-area .comments {
    padding: 0 96px;
  }
}
@media screen and (min-width: 1280px) {
  .main .comment-area .comments {
    width: 512px;
    padding: 0;
    margin: 0 auto;
  }
}
.main .comment-area .comment__dom {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .main .comment-area .comment__dom {
    padding: 0 96px;
  }
}
@media screen and (min-width: 1280px) {
  .main .comment-area .comment__dom {
    width: 512px;
    padding: 0;
    margin: 0 auto;
  }
}
.main .comment-area .comment__dom .comment {
  display: flex;
  padding: 1rem 0;
  border-top: 2px solid #E1E1E1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main .comment-area .comment__dom .comment:last-child {
  border-bottom: 2px solid #E1E1E1;
  margin-bottom: 36px;
}
.main .comment-area .comment__dom .comment__img {
  width: 40px;
  height: 40px;
  background-color: #E1E1E1;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 1rem;
}
.main .comment-area .comment__dom .comment__section {
  width: 100%;
}
.main .comment-area .comment__dom .comment__section-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.main .comment-area .comment__dom .comment__section-details-name {
  font-weight: bold;
  color: #323232;
}
.main .comment-area .comment__dom .comment__section-details-date {
  color: #AFAFAF;
}/*# sourceMappingURL=bio.css.map */