@use "partials/variables"as *;
@use "partials/mixins"as *;
@use "partials/global";

.main {
    background-color: $primary3;

    .intro {
        
        &__title {
            color: $primary1;

            @include desktop {
                margin-left: 130px;
            }
        }

        &__img {
            width: 100%;
            padding: 0 $mobile-padding-btw-components $mobile-padding-btw-components;

            @include tablet {
                padding: 0 96px $padding-between-components;
                display: flex;
                justify-content: center;
            }
        }

        &__quote{
            @include mobile-subheader;
            
            @include tablet {
                padding: 0 96px $mobile-padding-btw-components;
            }

            &--large {
                @include tablet {
                    @include subheader;
                    color: $primary1;
                }
            }

            &--last {
                padding-bottom: 0
            }
        }
    }

    .article {
        @include tablet {
            margin: 0 80px;
        }
        
        &__title {
            @include tablet {
                padding-left: 16px;
            }
        }

        &__content {
            @include tablet {
                display: flex;
            }

            &-text{
                @include tablet {
                    padding-bottom: $padding-between-components;
                }
            }
        }


    }

    .gallery {
        background-color: $seconday3;

        &__title {

            @include tablet {
                @include title-spacing($padding-before-headlines, $padding-between-components, 20px);
            }

            @include desktop {
                margin: 0 80px;
            }
        }
        
        &__collection {
            @include flex-box(null, null, column);
            flex-wrap: wrap;
            width: 100%;
            
            @include tablet {
                @include flex-box(null, null, row);
                padding: 0 36px;
            }
            &-img {
                width: 100%;
                padding: 0 $mobile-padding-btw-components $mobile-padding-btw-components;
                
                @include tablet {
                    width: 32%;
                    padding: 8px;
                }

                &--left {
                    @include tablet {
                        padding-left: 0;
                    }
                }

                &--right {
                    @include tablet {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}