@use "partials/variables"as *;
@use "partials/mixins"as *;
@use "partials/global";

.main {
    background-color: $primary3;

    .intro {
        width: 100%;

        &__title {
            color: $primary1;
            @include title-spacing($mobile-padding-bf-headlines, $mobile-padding-btw-components, $mobile-padding-af-headlines);
        }

        &__img {
            width: 100%;
            padding: 0 $mobile-padding-btw-components $mobile-padding-btw-components;
        }

        &__quote{
            @include mobile-subheader;
            padding: 0 $mobile-padding-btw-components
        }
    }

    .article {

        &__title {
            @include title-spacing($mobile-padding-bf-headlines, $mobile-padding-btw-components, $mobile-padding-af-headlines);
        }

        &__text {
            padding: 0 $mobile-padding-btw-components $mobile-padding-btw-components;
        }
    }

    .gallery {
        background-color: $seconday3;

        &__title {
            @include title-spacing($mobile-padding-bf-headlines, $mobile-padding-btw-components, $mobile-padding-af-headlines);
        }

        &__collection {
            @include flex-box(null, null, column);
            flex-wrap: wrap;
            width: 100%;

            &-img {
                width: 100%;
                padding: 0 $mobile-padding-btw-components $mobile-padding-btw-components;

                @include tablet {
                    width: 30%;
                    margin-bottom: $mobile-padding-btw-components;
                }
            }

            @include tablet {
                @include flex-box(center, null, row);
            }
        }
    }

}
