@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/font/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../../assets/font/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/font/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

footer p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.nav {
  background-color: #323232;
}
.nav-bar {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-bar__img {
  margin-top: 1rem;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .nav-bar__img {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__img {
    margin-left: 0;
  }
}
.nav-bar__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
}
.nav-bar__list-item {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .nav-bar__list-item {
    padding: 32px 0;
    width: 5rem;
  }
}
.nav-bar__list-item--active {
  border-bottom: 0.25rem solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav-bar__list {
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__list {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    width: 50%;
  }
}
.nav .hero {
  background-image: url("../../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 20vh;
  color: #FFFFFF;
}
.nav .hero__title {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  background-color: rgba(50, 50, 50, 0.3137254902);
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .nav .hero__title {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav .hero__title {
    padding-left: 160px;
  }
}
@media screen and (min-width: 768px) {
  .nav .hero {
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .nav .hero {
    height: 70vh;
  }
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
.footer .card {
  display: flex;
  flex-direction: column;
}
.footer .card__title {
  color: #FFFFFF;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer .card__title {
    padding-right: 8px;
  }
}
.footer .card__collection {
  padding: 0 1rem 1rem;
}
.footer .card__collection-img {
  height: 1.5rem;
  margin-right: 1.5rem;
}
.footer .card__collection-group {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer .card__collection--img {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer .card__collection--contact {
    margin-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer .card--social {
    order: -2;
    width: 430px;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .footer .card {
    flex-direction: row;
    margin: 0 18px;
  }
}
.footer__img {
  margin-top: 1.5rem;
  padding: 0 1rem 1rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__img {
    order: -1;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__img {
    padding-left: 100%;
  }
}
.footer__legal {
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__legal {
    width: 100%;
    margin: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}

.main {
  background-color: #FFFFFF;
}
.main .intro__title {
  color: #323232;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main .intro__title {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .main .intro__title {
    margin-left: 130px;
  }
}
.main .intro__img {
  width: 100%;
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main .intro__img {
    padding: 0 13%;
    margin-bottom: 2.25rem;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .main .intro__img {
    padding: 0 20%;
  }
}
.main .intro__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .main .intro__quote {
    padding: 0 2.25rem;
    margin: 0 64px;
  }
}
@media screen and (min-width: 768px) {
  .main .intro__quote--large {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #323232;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .main .intro__quote {
    margin: 0 18%;
  }
}
.main .article__title {
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main .article__title {
    padding: 3rem 1rem 2.25rem;
  }
}
.main .article__content-text {
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main .article__content {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .main .article {
    padding: 0 1rem 1rem;
    margin: 0 64px;
  }
}
@media screen and (min-width: 1280px) {
  .main .article {
    margin: 0 18%;
  }
}
.main .gallery {
  background-color: #FAFAFA;
}
.main .gallery__title {
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main .gallery__title {
    padding: 3rem 2.25rem 20px;
  }
}
@media screen and (min-width: 1280px) {
  .main .gallery__title {
    margin: 0 80px;
  }
}
.main .gallery__collection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.main .gallery__collection-img {
  width: 100%;
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main .gallery__collection-img {
    width: 30%;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .main .gallery__collection-img--left {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .main .gallery__collection-img--right {
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .main .gallery__collection {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}/*# sourceMappingURL=bio.css.map */