@use "partials/global" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;


.nav {
    .hero {
        &__title {
            align-items: flex-start;
            flex-direction: column;
            &-small {
                color: white;
                padding-bottom: 0;
            }
            &-large {
                width: 280px;
            }
        }
    }
}

.shows-section {

    .shows {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 $mobile-padding-btw-components;
        
        &__head {
            display: none;

            @include tablet {
                display: table-row;
            }

            &-item {
                @include tablet {
                    text-align: start;
                }
            }
        }

        &__row {
            border-bottom: 1px solid $primary2;
            padding-top: $mobile-padding-btw-components;

              &-item {
                display: flex;
                flex-direction: column;
                padding-bottom: $mobile-padding-btw-components;

                @include tablet {
                    display: table-cell;
                    height: 50px;
                    padding: $padding-between-components 0;
                }

                &::before {
                    content: attr(data-label);
                    text-transform: capitalize;
                    padding-bottom: 8px;

                    @include tablet {
                        display: none;
                    }
                }

                &-btn {
                    @include button;
                }
            }

            &:hover {
                background-color: $seconday3;
            }
            
            &--selected {
                background-color: $primary2;
            }
        }

        @include tablet {
            display: table;
        }
        
    }
}