@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/font/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../../assets/font/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/font/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 700;
    padding: 3rem 2.25rem 2.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 3rem 2.25rem 2.25rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 3rem 2.25rem 2.25rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.paragraph {
  padding: 0 1rem 1rem;
}
footer p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

a, a:visited {
  text-decoration: none;
}

.nav {
  background-color: #323232;
}
.nav-bar {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-bar__img {
  margin-top: 1rem;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .nav-bar__img {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__img {
    margin-left: 0;
  }
}
.nav-bar__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
}
.nav-bar__list-item {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
}
.nav-bar__list-item-link {
  color: #FFFFFF;
}
.nav-bar__list-item:hover {
  border-bottom: 0.25rem solid #FFFFFF;
}
.nav-bar__list-item--active {
  border-bottom: 0.25rem solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav-bar__list-item {
    padding: 32px 0;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__list {
    align-items: baseline;
    width: initial;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
}
.nav .hero {
  background-image: url("../../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 20vh;
  color: #FFFFFF;
}
.nav .hero__title {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  background-color: rgba(50, 50, 50, 0.3137254902);
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .nav .hero__title {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav .hero__title {
    padding-left: 160px;
  }
}
@media screen and (min-width: 768px) {
  .nav .hero {
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .nav .hero {
    height: 70vh;
  }
}

.footer {
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer .card {
  display: flex;
  flex-direction: column;
}
.footer .card__title {
  color: #FFFFFF;
  width: auto;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer .card__title {
    flex: 0 0 auto;
    padding: 3rem 2.25rem 2.25rem;
    padding-right: 10.85px;
  }
}
.footer .card__collection {
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer .card__collection {
    padding: 0 2.25rem 2.25rem;
  }
}
.footer .card__collection-img {
  height: 1.5rem;
  margin-right: 1.5rem;
}
.footer .card__collection--middle {
  padding: 0 16px;
}
.footer .card__collection-group {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer .card__collection--img {
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
}
.footer .card__logo {
  width: 150px;
  display: none;
}
@media screen and (min-width: 768px) {
  .footer .card__logo {
    display: block;
    margin-left: auto;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer .card--social {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer .card {
    flex-direction: row;
  }
}
.footer__img {
  margin-top: 1.5rem;
  padding: 0 1rem 1rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__img {
    display: none;
  }
}
.footer__legal {
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__legal {
    padding: 0 2.25rem 2.25rem;
  }
}

.nav .hero__title {
  align-items: flex-start;
  flex-direction: column;
}
.nav .hero__title-small {
  color: white;
  padding-bottom: 0;
}
.nav .hero__title-large {
  width: 280px;
}

.shows-section .shows {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.shows-section .shows__head {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows-section .shows__head {
    display: table-row;
  }
}
@media screen and (min-width: 768px) {
  .shows-section .shows__head-item {
    text-align: start;
  }
}
.shows-section .shows__row {
  border-bottom: 1px solid #AFAFAF;
  padding-top: 1rem;
}
.shows-section .shows__row-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows-section .shows__row-item {
    display: table-cell;
    height: 50px;
    padding: 2.25rem 0;
  }
}
.shows-section .shows__row-item::before {
  content: attr(data-label);
  text-transform: capitalize;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .shows-section .shows__row-item::before {
    display: none;
  }
}
.shows-section .shows__row-item-btn {
  border: none;
  border-radius: 5px;
  height: 40px;
  color: #FFFFFF;
  background-color: #323232;
}
.shows-section .shows__row:hover {
  background-color: #FAFAFA;
}
.shows-section .shows__row--selected {
  background-color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .shows-section .shows {
    display: table;
  }
}/*# sourceMappingURL=shows.css.map */